body, html{
  height:80%;
}
body{
  margin: 0px;
  /* background-color:#444; */
  background-image: url("https://i.pinimg.com/originals/e0/d1/a9/e0d1a9869e6cfd5a451067878f8f5440.gif");
  font-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover  ;
  max-width: 900px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /* border:10px solid red; */
  /* border-radius:10px; */
  position: absolute;
}
#light{

  margin: auto;
  display: block;
  /* width: 80%; */
}